/* RESET DASAR */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #0e0e10;
  line-height: 1.6;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #5b21b6, #1e1b4b);
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.hero p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
  color: #d1c4e9;
}

.btn {
  background: #6d28d9;
  padding: 10px 25px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #8b5cf6;
}

/* SECTION UMUM */
section {
  padding: 60px 15%;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #c4b5fd;
}

/* ABOUT */
.about p {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

/* FEATURES */
.feature-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1e1b4b;
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  background: #312e81;
}

/* MEDIA */
.media {
  background: #111827;
  text-align: center;
}

.video-container {
  background: #1f2937;
  padding: 40px;
  border-radius: 10px;
  display: inline-block;
}

/* EVENT */
.timeline {
  list-style: none;
  max-width: 600px;
  margin: 0 auto;
}

.timeline li {
  background: #1e1b4b;
  padding: 10px 20px;
  margin: 10px 0;
  border-left: 4px solid #8b5cf6;
}

/* PARTNER */
.partner {
  background: #0f172a;
  text-align: center;
}

.partner-logos p {
  color: #9ca3af;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #111827;
  font-size: 0.9rem;
  color: #9ca3af;
}
